@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

    <h1>Online Bookstore</h1>

    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>
        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.ISBN</li>
            <li>Classification: @b.Classification, @b.Category</li>
            <li>Page Count: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>
    }


<div page-model="@Model.PaginationInfo" page-action="Index"></div>